img {
  width: 100%;
  height: auto;
  margin: 0;
}

.logo-image {
  height: 60px;
  width: 80px;
  margin: 0;
}

.article-image {
  height: 340px;
  width: 420px;
  margin: 0;
}

.sign-in-image {
  height: 20px;
  width: 20px;
  margin: 0;
}
